/Tareas/JavaApplication2/nbproject/private/
/Tareas/RedesSociales/nbproject/private/
/Tareas/RedesSociales/build/
/Tareas/Arreglo/nbproject/private/
/Tareas/Arreglo/build/
/Tareas/ArregloADT/nbproject/private/
/Tareas/ArregloADT/build/
/Tareas/MainADT/nbproject/private/
/Tareas/MainADT/build/
/Tareas/JavaApplication9/nbproject/private/
/Tareas/ConjuntoADTmain/nbproject/private/
/Tareas/ConjuntoADTmain/build/
/Tareas/ListasSimplementeLigadas/nbproject/private/
/Tareas/ListasSimplementeLigadas/build/
/Tareas/BalanceoPorParentesis/nbproject/private/
/Tareas/Pilas/nbproject/private/
/Tareas/Pilas/build/
/Tareas/Pilas/dist/
/Tareas/BalanceoPorParentesis/build/
/Tareas/Colas/nbproject/private/
/Tareas/Colas/build/
/Tareas/ColasDePrioridadAlta/nbproject/private/
/Tareas/CDPA/nbproject/private/
/Tareas/CDPA/build/
/Tareas/TablasHash/nbproject/private/
/Tareas/TablasHash/build/
/Tareas/TablasHAsh/nbproject/private/
/Tareas/TablasHAsh/build/
/Tareas/TablasHAsh/dist/
/Tareas/JavaCollections/nbproject/private/
/Tareas/JavaCollection/nbproject/private/
/Tareas/JavaCollection/build/
